body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.champion-info {
  width: 200px;
  height: 100px;
  background-color: #3498db;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  transition: transform 0.3s ease;
}

.champion-info span {
  font-size: 0.8em;
  font-weight: normal;
}

.champion-info span:nth-child(2) {
  font-size: 1.5em;
  font-weight: bold;
}

.champion-info:hover {
  transform: scale(1.1);
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
}

.list-container {
  flex: 0 0 calc(50% - 20px);
  background-color: #dc3ce7;
  padding: 20px;
  border-radius: 15px;
  margin: 10px;
  box-sizing: border-box;
}

.champions-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px;
  padding: 20px;
  max-width: 1200px; /* Ajustez ceci en fonction de la largeur souhaitée */
  margin: 0 auto;   /* Pour centrer le conteneur si vous utilisez une largeur maximale */
  overflow-y: auto; /* Pour ajouter une barre de défilement verticale */
  max-height: 70vh; /* Ajustez ceci en fonction de la hauteur souhaitée */
}

.champion-item {
  flex: 0 0 calc(33.33% - 40px);  /* Garde le même comportement flex, mais avec une largeur fixe */
  min-width: 300px;  /* Une taille minimale pour chaque item, vous pouvez ajuster cette valeur selon vos besoins */
  background-color: #dc3ce7;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
}
.list-header {
  margin-top: 30px;
  font-size: 1em; /* Augmentez ou diminuez cette valeur selon vos préférences */
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 50vh; /* Hauteur maximale pour la liste avec barre de défilement */
  overflow-y: auto; /* Barre de défilement verticale si le contenu dépasse la hauteur */
}

.important-champion {
  font-weight: bold;           /* Gras pour attirer l'attention */
  color: #FF5733;              /* Couleur spécifique, par exemple, orange */
  background-color: #F9E79F;   /* Fond légèrement coloré */
  padding: 5px 10px;           /* Espacement autour du texte */
  border-radius: 5px;          /* Coins arrondis pour un look agréable */
  margin: 2px 0;               /* Petit espacement entre les éléments de la liste */
}
.filter-container {
  width: 100%;  /* Pour occuper toute la largeur de son conteneur parent */
  box-sizing: border-box;  /* Pour inclure le padding et la bordure dans la largeur totale */
  padding: 10px;  /* Ajustez cela selon vos préférences pour le padding intérieur */
}

#filterInput {
  width: 100%;  /* Pour occuper toute la largeur de .filter-container */
  padding: 8px;  /* Ajustez cela selon vos préférences pour le padding intérieur du champ d'entrée */
  border-radius: 5px;  /* Pour arrondir les coins du champ d'entrée */
  border: 1px solid #ccc;  /* Bordure autour du champ d'entrée */
}

/* Style de base pour le footer */
.footer-container {
  background-color: #333; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  padding: 20px; /* Espacement intérieur */
  text-align: center; /* Centrage du texte */
  position: relative; /* Position relative pour pouvoir positionner des éléments à l'intérieur */
  bottom: 0; /* Fixer le footer au bas de la page */
}

/* Style pour les liens dans le footer si nécessaire */
.footer-container a {
  color: #fff; /* Couleur du texte des liens */
  text-decoration: none; /* Suppression du soulignement des liens */
  transition: color 0.3s ease; /* Transition pour le changement de couleur lors du survol */
}